a.active {
    color: red;
}

#poke-container {
    display: flex;
}

#poke-nav-list {
    height: 100vh;
    overflow-y: hidden;
    transition: width 1s ease;
}

#poke-nav-list:hover {
    overflow-y: auto;
}

html, body {
    height: 100%;
    margin: 0px;
}

ul {
    margin: 0px 0px;
    padding: 0px 0px;
    list-style: none;
}

#row-display {
    display: flex;
}

#poke-nav-list>ul li>a {
    display: block;
    text-decoration: none;
    padding: 5px 10px;
    text-align: center;
    color: black;
}

.poke-nav-item {
    border: 1px solid #cccccc;
}

.color-block {
    width: 18px;
    height: 18px !important;
    right: 0px;
    margin-top: 5px;
}

.poke-nav-item~.poke-nav-item {
    margin-top: 2px;
    border-radius: 7%;
}


#navBar {
    position: relative;
    top: 0px;
    height: 25px;
    margin-bottom: 10px;
    background: #161616;
    color: white;
}

.width-0 {
    width: 0px;    
}

.hidden-width {
    width: 0px;
    padding: 0px !important;
    margin: 0px !important;
}

#navBar>ul {
    height: 100%;
    align-items: center;
    padding: 0px 10px;
}

.icon-button:hover {
    cursor: pointer;
}

.full-height {
    height: 100%;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.z-index {
    z-index: -1;
}


