a.active {
    color: red;
}

#poke-container {
    display: flex;
}

#poke-search-input {
    margin: auto;
}

.poke-nav-item.hidden {
    display: none;
}

#poke-info {
    background: #ff004bfc;
}

#poke-nav-list {
    height: 90vh;
    width: 190px;
    overflow-y: auto;
    transition: width 0.5s ease;
}

html, body {
    height: 100%;
    margin: 0px;
}

body {
    background-image: url('http://cdn.wallpaperhi.com/1920x1080/20120719/pokemon%20minimalistic%20dark%20typography%20caligraphy%20pokeball%201920x1080%20wallpaper_www.wallpaperhi.com_11.jpg');
}

ul {
    margin: 0px 0px;
    padding: 0px 0px;
    list-style: none;
}

#row-display {
    display: flex;
}

#poke-nav-list>ul li>a {
    display: block;
    text-decoration: none;
    padding: 5px 10px;
    text-align: center;
    color: black;
}

.poke-nav-item {
    border: 1px solid #cccccc;
    background: white;
}

.color-block {
    width: 18px;
    height: 18px !important;
    right: 0px;
    margin-top: 5px;
}

.poke-nav-item~.poke-nav-item {
    margin-top: 2px;
    border-radius: 7%;
}


#navBar {
    position: relative;
    top: 0px;
    height: 35px;
    margin-bottom: 10px;
    background: #161616;
    color: white;
}

.width-0 {
    width: 0px !important;    
}

.hidden-width {
    width: 0px;
    padding: 0px !important;
    margin: 0px !important;
}

#navBar>ul {
    height: 100%;
    align-items: center;
    padding: 0px 10px;
}

.icon-button:hover {
    cursor: pointer;
}

.icon-button {
    padding: 5px 5px;
    border: 1px solid gray;
    border-radius: 5px;
}

.full-height {
    height: 100%;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.z-index {
    z-index: 1;
}


